/* هذا علميد يكون التنسيق سلس في كل العناصر  ال * يعني تحديد الكل */
* {
    box-sizing: border-box;
}

/* هذا الكلاس علميد نخلي الطول والعرض حق محتواء العناصر محدد لاي شي يدخل وسطه */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* هذا الكلاس حق ال home page اللي خلينا الصوره في الخلفيه حقه */

.header {
    display: flex;
    max-width: 100%;
    height: 500px;
    justify-content: center;
    align-content: center;
    position: relative;
    background-image: url("../img/photo_2022-10-15_00-30-19.jpg");
    background-repeat: round;

}

/* وهذا تنسيق عنوان او اسم الموقع  */

body h1 {
    direction: ltr;
    margin: 20Px 40%;
    width: max-content;
    padding: 20px 20px;
}

/* Start Home Page */

/* هذا الكلاس حق البطاقات حق االفلام */
.movies .container {
    display: flex;
    position: relative;
    /* grid-gap: 20px; */
    flex-direction: row;
    margin: 0 10%;
    justify-content: space-between;
    padding: 10px;
}

/* هذا حق البطاقة نفسها التنسيقات */
.movies .container a .card {
    margin-top: 20px;
    height: 200px;
    width: 180px;
    background-color: #726A6A;
    position: relative;
    border: none;
    margin: 0 7%;
    border-radius: 20px;

}

/* هذا حق العناوين    */
.container h2 {
    text-align: center;
    margin-bottom: 40px;
}

/* وهذا حق الصور التسيقات  */

.movies .container a .card .image {
    position: relative;
    width: 100%;
    height: 139px;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
}

/* هذا حق الصوره نفسها  */
.movies .container a .card .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.4S ease-in-out;
}

/* وهذا الكلاس حق الحركة اللي لما تهوفر عليها او تحرك الماوس لعندها  */
.card:hover .image img {
    transform: rotateZ(360deg);
}

/* وهذا اسم الفيلم اللي تحت الصورة  */
.movies a .card .contant h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    /* or 188% */
    letter-spacing: -0.015em;
    color: #221c1c;
    margin-top: 20px;
    margin-bottom: 0;
}

/* End Home Page */

/* Start Movies Page */

/* هذا حق الزر اللي يرجعك للصفحة الرئيسية */
.container a {
    text-decoration: none;
}

/* وهذا تبع الزر اللي يرجعك للصفحة الرئيسيه */
.container a button {
    width: 80px;
    height: 30px;
    background-color: orange;
    border: none;
    cursor: inherit;
}

/* هذا حق الفيديو اللي اوصل الصفحة حق الفيلم */
.container video {
    width: 100%;
    height: 550px;
    object-fit: fill;
    /* height: 600px; */
}

/* هذا حق العناوين اللي تحت الفيديو  */
.contant-video .container h2 {
    margin-bottom: 20px;
}

/* وهذا تنسيقات الكتابه حق الوصف  */
.contant-video .container p {
    font-size: 22px;
}

/* وهذا الزر اللي يبزك تشاهد الفيلم من اليوتيوب */
.contant-video .container a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 0 40%;
}

/* هذا تبع الزر اللي يبزك تشاهد الفيلم من اليوتيوب*/
.contant-video .container button {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    background: orange;
    border: none;
}

.contant-image .container {
    display: flex;
    justify-content: space-evenly;
}

/* هذا التنسيقات حق الصور  */

.contant-image .container .image {
    display: flex;
    height: 300px;
    width: 100%;

}

/* هذا حق التنسيقات حق الصورة نفسها  */

.contant-image .container img {
    flex-grow: 1;
    object-fit: fill;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    padding: 0 10px;
}

/* End Movies Page */
/* Start Footer */

/* هذا حق قسم الاسامي والايقونات اللي اخر الموقع حق الصفحة الرئيسيه */
.footer {
    display: flex;
}

.footer .container {
    margin-top: 120px;
}

/* هذا حق كتابة  Contact Us*/
.footer .container h2 {
    margin-bottom: 14px;
}

/* هذا حق الايقونات نفسهن */
.footer .container .icon i {
    padding: 0 5px;
    color: coral;
    font-size: 30px;
}


/* وهذا حق اللي الاسمامي وسطه */
.footer .container .contant {
    text-align: center;
    border-top: 2px solid black;
    margin-top: 20px;
}

/* وهذا الاسامي نفسهن */
.footer .container .contant p {
    font-size: 20px;
}

/* End Footer */